@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root{
    --text-color: #000;
    --grey: #555;
    --white: #fff;
    --red: #f03535;
    --purple: #655AF2;
    --light-green: #4dc490;

}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;

}

*,
*::before,
*::after{
    box-sizing: inherit;

}


body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'arial', sans-serif;
    font-size: 16px;
    line-height: 19px;
    background-color: #e7e7e7;
    color: var(--text-color);

}

img{
    max-width: 100%;
    height: auto;

}

*:focus{
    outline: 2px dotted var(--purple);
    outline-offset: 5px;
}

.button{
    display: inline-block;
    text-align: center;
    font-style: normal;
    border: 0;
    font-weight: 600;
    line-height: 19px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;

}

/* button */
.button-block{
    display: block;
    width: 100%;
}


.button-green{
    padding: 30px;
    background-color: var(--light-green);
    border-radius: 0 0 20px 20px;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: var(--white);

}

.button-blue{
    background-color: var(--purple);
    color: var(--white);
    transition: background-color 0.5s ease;

}

.button-blue:hover{
    background-color: #3A2BF8;
}

.button-text-span{
    font-weight: 400;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    
}


.main{
    flex-grow: 1;

}

/* intro-form */
.intro-form{
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;

}

/* INTRO */
.intro-divider{
    --text-color: #fff;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 12px;

}

.intro-form-wrap{
    width: 100%;
    max-width: 570px;
    padding: 55px 60px 40px;

}

.intro{
    width: 570px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #555;
    background-image: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 0;

}

.intro-badge{
    margin: 0;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid var(--white);
    border-radius: 41px;
    margin-bottom: 65px;

}

.intro-heading{
    width: 390px;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.28;
    margin-bottom: 25px;

}

.intro-text{
    width: 345px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;

}

/* SIGN UP FORM */
.signup-form{
    background-color: var(--white);
    border-radius: 20px;


}

.form-heading{
    width: 430px;
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.31;
    margin-bottom: 65px;

}

.form-input-fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}



.form-input{
    width: 100%;
    border: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 14px;
    padding-top: 15px;
    color: var(--grey);
    border-bottom: 1px solid var(--grey);

}

.form-input:not(:last-child){
    margin-bottom: 20px;

}

.form-input:focus{
    font-weight: 600;
    color: #000;
    border-color: #000;
}



.button-notice{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: var(--grey);

}

.button-notice-link{
    color: var(--red);
    font-weight: 500;
}



